
<h5>Filter Classroom</h5>

<%= form_tag("/classrooms", method: "get") do %>
  <%= select_tag "date", options_for_select(["< 5", "< 10"]), include_blank: true %>
  <%= submit_tag "Filter" %>
<% end %>

<br><br>

<div><%= link_to "Add Classroom", new_classroom_path %></div>
<br>

<table>
  <tbody>
    <tr>
      <td>Class Name</td>
      <td>Teacher</td>
      <td>Age Range</td>
      <td>Number of Students</td>
    </tr>
    <% @classrooms.each do |classroom| %>
      <tr>
        <td><%= link_to classroom.name, classroom_path(classroom) %></td>
        <td><%= classroom.teacher_name %></td>
        <td><%= classroom.age_low %> - <%= classroom.age_high %></td>
        <td><%= classroom.class_size %></td>
        <td><%= link_to "Edit", edit_classroom_path(classroom) %></td>
        <td><%= link_to "Delete", classroom, method: :delete, data: { confirm: "Confirm Deletion" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
