<% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
<% end %>

<h3><%= name(@parent) %></h3>

<div class="">
  <strong>Phone Number: </strong><%= phone_number(@parent) %>
</div>
<br>

<div class="">
  <%= link_to "Log Out", {:controller=> "sessions", :action=> "destroy"}, :method => :post %>
  <%= link_to "Edit", edit_parent_path(@parent) %>
  <%= link_to "Delete", @parent, method: :delete, data: { confirm: "Confirm Deletion" } %>
</div>

<hr>


<h3>Registered Child/Children</h3>
<!-- <div><%= link_to "Add Child", new_child_path %></div> -->
<div><%= link_to "Add Child", new_parent_child_path(@parent) %></div>

<table>
  <tbody>
    <% @parent.children.each do |child| %>
    <tr>
      <td><li><%= link_to name(child), parent_child_path(@parent, child) %></li></td>
      <td>Age: <%= child.age %></td>
      <td><%= link_to "Edit", edit_parent_child_path(@parent, child) %></td>
      <td><%= link_to "Delete", child, method: :delete, data: { confirm: "Confirm Deletion" } %>
</td>
    </tr>
    <% end %>

  </tbody>
</table>
<br>

<%= link_to "Back to Main Page", admin_index_path if session[:admin] %>
