<% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
<% end %>

<h3><%= name(@parent) %></h3>

<div class="">
    <%= link_to "Log Out", {:controller=> "sessions", :action=> "destroy"}, :method => :post %>
</div>



<div class="">
  <strong>Phone Number: </strong><%= phone_number(@parent) %>
</div>
<hr>

<%= link_to "Delete", @parent, method: :delete, data: { confirm: "Confirm Deletion" } %>


<h3>Registered Child/Children</h3>
<div><%= link_to "Add Child", new_child_path %></div>

<ul>
  <% @parent.children.each do |child| %>
    <li><%= link_to name(child), child_path(child) %></li>
  <% end %>
</ul>


<table>
  <tbody>
    <% @parent.children.each do |child| %>
    <tr>
      <td><li><%= link_to name(child), child_path(child) %></li></td>
      <td><%= link_to "Edit", edit_child_path(child) %></td>
      <td><%= link_to "Delete", child, method: :delete, data: { confirm: "Confirm Deletion" } %>
</td>
    </tr>
    <% end %>

  </tbody>
</table>
